/* variables set below */
:root {
  --greyhound: #33393f;
  --crystal: #ffffff;
  --light: rgb(151, 153, 151);
  --sunny: rgb(201, 241, 238);
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


/* navigation bar code below */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 0px; */
  background-color: var(--greyhound);
}

/* #logo {
  display: flex;
  flex-direction: row;
} */

h1 {
  width: 25%;
  font-weight: 500;
  color: var(--crystal);
}

/* nav section code below */
nav {
  /* display: flex;
  justify-content: flex-end;
  align-items: space-evenly;
  width: 70%; */
  padding: 10px;

  @media (min-width: 600px) {
    padding: 20px;
  }
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

nav ul li a {
  color: var(--crystal);
  text-decoration: none;
  border-bottom: thick;
  position: relative; 
}

a::before {
  content: "";
  position: absolute;
  height: 2px;
  right: -5px;
  bottom: -4px;
  left: -5px;
  background-color: var(--crystal);
}

nav ul li a:hover {
  color: var(--light);

}

a:hover::before {
  background: linear-gradient(to right, var(--light) 40%, var(--sunny) 75%);
}








h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
