/* variables set below */
/* :root {
  --calm: #33393f;
  --bright: limegreen;
  --mellow: palegreen;
  --highlight: green;
}

::selection {
  background-color: var(--bright);
  color: var(--calm);
} */




* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


/* navigation bar code below */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 0px; */
  background-color: #1b1b1b;
}

/* #logo {
  display: flex;
  flex-direction: row;
} */

h1 {
  width: 25%;
  font-weight: 500;
  color: #ffffff;
}

/* nav section code below */
nav {
  /* display: flex;
  justify-content: flex-end;
  align-items: space-evenly;
  width: 70%; */
  padding: 10px;

  @media (min-width: 600px) {
    padding: 20px;
  }
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

nav ul li a:hover {
  background-color: rgb(54, 54, 54);
}


nav ul li a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: thick;
  position: relative; 
}

a::before {
  content: "";
  position: absolute;
  height: 2px;
  right: 0px;
  bottom: -4px;
  left: 0px;
  background-color: #ffffff;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
