/* color scheme variables */
:root {
  --greyhound: #33393f;
  --crystal: #ffffff;
  --light: rgb(151, 153, 151);
  --sunny: rgb(201, 241, 238);
}

/* styling for the doc */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


/* navigation bar with flexbox */
.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--greyhound);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 30px;
}

h1 {
  width: 25%;
  font-weight: 500;
  color: var(--greyhound);
  display: inline block;
  text-align: right;
  background-color: var(--crystal);
  margin-left: 0px;
  padding-right: 10px;
}


/* nav section code below */
.flexnav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 

  @media (min-width: 600px) {
    padding: 20px;
  }
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
  margin-right: 20px;
}

nav ul li {
  margin-right: 20px;
}

#LinkedIn {
  margin-right: 0px;
}

nav ul li a {
  color: var(--crystal);
  text-decoration: none;
  border-bottom: thick;
  position: relative; 
}

a::before {
  content: "";
  position: absolute;
  height: 2px;
  right: -5px;
  bottom: -4px;
  left: -5px;
  background-color: var(--crystal);
}

nav ul li a:hover {
  color: var(--light);

}

a:hover::before {
  background: linear-gradient(to right, var(--light) 40%, var(--sunny) 75%);
}








h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
