
/* Code:

1. general doc styling elements
2. set variables
3. navigation bar
4. navigation links
5. hero banner
6. page wrapper
7. about me
8. portfolio
9. footer
10. media query



/* general styling */
* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  height: 100%;
}

/* variables */
:root {
  --greyhound: #2e1902;
  --crystal:  #f1ca46;
  --light: rgb(231, 143, 28);
  --sunny: rgb(231, 78, 40);
}



/* navigation bar*/
.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--greyhound);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 30px;
}


h1 {
  font-weight: 600;
  font-size: xx-large;
  display: inline block;
  text-align: right;
  margin-left: 0px;
  padding-right: 10px;
  padding-left: 50px;
}


/* navigation links */
.flexnav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
  margin-right: 20px;
}

nav ul li {
  margin-right: 20px;
}

#LinkedIn {
  margin-right: 0px;
}

nav ul li a {
  color: var(--crystal);
  text-decoration: none;
  border-bottom: thick;
  position: relative; 
}


nav ul li a::before {
  content: "";
  position: absolute;
  height: 2px;
  right: -5px;
  bottom: -4px;
  left: -5px;
  background-color: var(--crystal);
}


nav ul li a:hover {
  color: var(--light);
}


nav ul li a:hover::before {
  background: linear-gradient(to right, var(--light) 40%, var(--sunny) 75%);
}

/* hero banner styling */
.hero-banner {
  display: flex;
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/antelope-canyon.jpg");
  background-size: cover;
  background-position: center;
  justify-content: right;
  align-items: flex-end;
}

#greeting h3 {
  font-weight: 300;
  display: inline-block;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
  border: 30px;
  margin-bottom: 30px;
  margin-right: 45px;
}


/* page wrapper styling */
.page-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  max-height: 100%;
}

h2 {
  text-align: right;
  padding-right: 10px;
  font-weight: 600;
  font-size: x-large;
}

/* about me section styling */
.page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 40px;
  
}

.page-section h2{
  flex-basis: 15%;
}



.bio, #workgrid, .details {
  padding-left: 30px;
  border-left: solid var(--greyhound);
  width: 50vw;
}


/* Portfolio */

#workgrid {
  display: grid;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-columns: 50% 50% ;
  grid-template-areas:
  "minecraft minecraft"
  "minecraft minecraft"
  "examlift upskill"
  "prework refactor"
}

.overlay{
  position: absolute;
  bottom: 10px;
  left: 0px;
  background-color: var(--crystal);
  text-decoration: none;
  color: var(--greyhound);
  padding: 10px;
}

#minecraft {
  grid-area: minecraft;
  background-image: url("../images/adventures.png");
}

#examlift {
  grid-area: examlift;
  background-image: url("../images/02-portfolio-1.jpg");
}

#upskill {
  grid-area: upskill;
  background-image: url("../images/02-portfolio-2.jpg");
}

#prework {
  grid-area: prework;
  background-image: url("../images/02-portfolio-3.jpg");
}

#refactor {
  grid-area: refactor;
  background-image: url("../images/02-portfolio-4.jpg");
}

#workgrid a:hover {
  border-color: var(--sunny);
}

.workgridArea {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: solid var(--crystal);cdgit 
}
/*footer styling */

/* .details {
  align-items: center;
  justify-content: space-evenly;
  justify-items: space-evenly;
} */

.details ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
  margin-right: 20px;
  justify-content: space-evenly;
}

.details ul li {
  margin-right: 20px;

}

.details ul li a {
  color: var(--greyhound);
  text-decoration: none;
  border-bottom: thick;
  position: relative; 
}

.details ul li a::before {
  content: "";
  position: absolute;
  height: 2px;
  right: -5px;
  bottom: -4px;
  left: -5px;
  background-color: var(--greyhound);
}

.details ul li a:hover {
  color: var(--light);
}

.details ul li a:hover::before {
  background: linear-gradient(to right, var(--light) 40%, var(--sunny) 75%);
}





h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--greyhound);
}

h1,
h3,
h4 {
  background-color: var(--crystal);
}



p {
  margin: 0;
}

/* responsive screens */
@media only screen and (max-width: 600px) {
  .flexbox {
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 30vh; */
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  h1 {
    width: 100%;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  nav ul {
    margin: 0px;
    padding: 15px;
  }
}